{% extends "base.html" %}

<title>Submit Your Suggestion</title>
<base href="/">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class="mdl-card__supporting-text">
            这里是UIC同学们的小家呀！
            大家可以在这里便捷地反馈自己的意见！
            也可以看看最近学校的近况呢！
        </div>
        <div style="display: grid; justify-items: center;">
            <h5>Write your suggestion here!</h5>
            <form action="{% url 'USFP:submitSuggestion' %}" method="post">
                {% csrf_token %}
                <textarea rows="10" cols="30" name="suggestionContent" required></textarea>
                <br>
                <div style="display: grid; justify-items: center;">
                    <input type="submit" value="Submit your Suggestion" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}