{% extends "base.html" %}
<title>View Your Operations</title>


{% block content %}
<main>
    <div class="demo-container mdl-grid">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
                这里是UIC同学们的小家呀！
                大家可以在这里便捷地反馈自己的意见！
                也可以看看最近学校的近况呢！
            </div>
            <div style="display: grid; justify-items: center;">
                <h2>You can view all tags here:</h2>
                <table class="demo-card-wide mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                    style="width: max-content; margin: auto;">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">关键词</th>
                            <th>出现频率</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in tagsPrepageData%}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="{% url 'USFP:viewTag' i.tagID 1 %}">{{ i.tagName }}&emsp;</a>
                            </td>
                            <td>{{ i.tagShowNum }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <br>
                    {% if tagsPrepageData.has_previous %}
                    <a href="{% url 'USFP:viewAllTags' tagsPrepageData.previous_page_number  %}">Last Page</a>
                    {% endif %}&emsp;
                    {% for n in tagsPageList %}
                    <a href="{% url 'USFP:viewAllTags'  n  %}">{{ n }}</a> &emsp;
                    {% endfor %}
                    {% if tagsPrepageData.has_next %}
                    <a href="{% url 'USFP:viewAllTags' tagsPrepageData.next_page_number  %}">Next Page</a>
                    {% endif %}&emsp;
                    <br>
                    <br>
                </div>
                <div style="display: grid; justify-items: center;">
                    <a href="/welcome/">Back to the Welcome Page</a>
                </div>
</main>
{% endblock %}