{% extends "base.html" %}
<title>View One Suggestion</title>
<base href="/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<script src="/static/JavaScript/jquery-3.4.1.min.js"></script>


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp ">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">The Suggestion</h2>
        </div>
        <div style="display: grid; justify-items: center;">
            <div class="mdl-card__supporting-text">
                Author:{{ suggestion.commonUser.commonUserName }}
                <br>
                User ID:{{ suggestion.commonUser.commonUserID}}
                <br>
                Area:{{ suggestion.commonUser.area.areaName}}
                <br>
                Post time:{{ suggestion.postTime }}
                <br>
                Suggestion ID:{{ suggestion.suggestionID }}
                <br>
                Last modify time:{{ suggestion.modifyTime }}
                <br>
                Visible:{{ suggestion.visible }}
                <br>
            </div>
        </div>

        <div style="display: grid; justify-items: center;">
            <h4>The content:</h4>
            <p style="margin: 39px; margin-top:0; background-color:whitesmoke; padding: 10px; border-radius: 20px; 
                box-shadow: 5px 5px rgb(0,0,0,20%);">{{ suggestion.content }}</p>


            {% if isAuthor %}
            <a href="{% url 'USFP:userChangeSuggestion' suggestion.suggestionID%}">Click to change</a>
            {% endif %}
        </div>

        <div style="display: grid; justify-items: center;">
            {% for i in suggestion_tags%}
            <a href="{% url 'USFP:viewTag' i.tagID 1 %}">{{ i.tagName }}</a>
            {% endfor %}
        </div>


        <br>
        <br>



        {% if isReplied %}
        {% for i in replySuggestionPrepageData %}
        <div style="display: grid; justify-items: center;">
            <div style="margin: 39px; margin-top:0; background-color:whitesmoke; padding: 10px; border-radius: 20px; 
                box-shadow: 5px 5px rgb(0,0,0,20%);">
                {{ i.selfSuggestion.commonUser.commonUserName }}:
                <br>
                Post time:{{ i.selfSuggestion.postTime }}
                <br>
                Suggestion ID:{{ i.selfSuggestion.suggestionID }}
                <p>{{ i.selfSuggestion.content }}</p>
            </div>

            <a href="{% url 'USFP:userViewOneSuggestion' i.selfSuggestion.suggestionID 1 %}">Click to view</a>
            <br>
            <br>
        </div>
        {% endfor %}
        <br>


        <div style="display: grid; justify-items: center;">
            {% if replySuggestionPrepageData.has_previous %}

            <a
                href="{% url 'USFP:adminViewOneSuggestion' suggestion.suggestion IsuggestionPrepageData.previous_page_number  %}">
                Last Page</a>
            {% endif %}
            {% for n in replySuggestionPageList %}
            <a href="{% url 'USFP:adminViewOneSuggestion' suggestion.suggestionID n  %}">{{ n }}</a>
            {% endfor %}
            {% if replySuggestionPrepageData.has_next %}
            <a
                href="{% url 'USFP:adminViewOneSuggestion' suggestion.suggestionID suggestionPrepageData.next_page_number  %}">Next
                Page</a>
            {% endif %}
            {% else %}
            <h5>It has not been replied!</h5>

            {% endif %}
        </div>
        <br>
        <br>

        {% if isManagedBy %}
        <div style="display: grid; justify-items: center;">
            <form action="{% url 'USFP:adminSubmitComment' suggestion.suggestionID %}" method="post">
                {% csrf_token %}
                <p style="display: grid; justify-items: center;">Comment here:</p>

                <textarea name="comment" rows="10" cols="30"></textarea>
                <br>
                <input type="radio" name="choice" value=1 onclick="toChoose(this)"><label for="deleteRadio">Delete
                    the
                    suggestion</label>
                {%if not suggestion.visible%}
                <input type="radio" name="choice" value=2 onclick="toChoose(this)"><label for="visibleRadio">Make it
                    visible</label>
                {% else %}
                <input type="radio" name="choice" value=3 onclick="toChoose(this)"><label for="visibleRadio">Make it
                    invisible</label>
                {% endif %}
                <div style="display: grid; justify-items: center;">
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
        {% endif %}
        <a href="{% url 'USFP:adminInfor' %}">Back to your information</a>
    </div>
</div>

{% endblock %}





{% block script %}
<script>
    function toChoose(element) {
        var radio = $(element);
        if (radio.data('waschecked')) {
            radio.prop('checked', false);
            radio.data('waschecked', false)
        } else {
            radio.prop('checked', true);
            radio.data('waschecked', true)
        }
    }
</script>
{% endblock %}