{% extends "base.html" %}
<title>Admin View User</title>
<base href="/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">


{% block content %}

    <div style="display: grid; justify-items: center;">
        <button onclick="showChange()" id="toChangeButton">Click here if you want to make changes</button>
        <h1>For this user:</h1>
        <br>
        <form action={% url 'USFP:adminUpdateUser' userToView.commonUserID %} method="post" onsubmit="return checked()">
            {% csrf_token %}
            <table border="1" cellspacing="0">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th class="ChangeFun" style="display: none">
                        To Change
                    </th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>{{ userToView.commonUserID }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ userToView.commonUserName }}</td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td><img src=" /media/{{ userToView.commonUserImage }}"/></td>
                    <td class="ChangeFun" style="display: none">
                        <input type="radio" name="deletePhoto" id="deletePhoto" class="ChangeFun"
                                                  onclick="changeDeletePhoto()" style="display: none" value="1">
                        <label for="deletePhoto" class="ChangeFun" style="display: none">Delete the photo</label>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ userToView.commonUserEmail }}</td>
                </tr>
                <tr>
                    <td>IsVerified</td>
                    <td>{{isVerified }}</td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td>{{ userToView.area.areaName }}</td>
                    <td class="ChangeFun" style="display: none">
                        <input type="radio" name="changeArea" class="ChangeFun" onclick="changeUserArea()"
                               style="display: none" value="1" id="changeArea">
                        <label for="changeArea" class="ChangeFun" style="display: none">Click to change the area</label>
                        <select style="display: none" name="newArName" id="newArName">
                            {% for i in areaNameList %}
                                {% ifequal i user.area.areaName %}
                                    <option selected value="{{ i }}">{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" class="ChangeFun" style="display: none" value="Click here to submit"/>
            <button onclick="cancelChange()" class="ChangeFun" style="display: none">Cancel</button>
        </form>
        <a href="{% url 'USFP:adminViewUserSuggestions' userToView.commonUserID 1 %}">To view the suggestions of the user</a>
        <a href="{% url 'USFP:adminViewArea' 1 userToView.area.areaID %}">To view the area</a>
        <a href="{% url 'USFP:adminInfor' %}">Back to your information.</a>
    </div>

{% endblock %}
 


{% block script %}
<script src="/static/JavaScript/jquery-3.4.1.min.js"></script>
<script>
    var nodeList = document.getElementsByClassName("ChangeFun");
    var checkResult = true;

    function showChange() {
        checkResult = true;
        for (var i = 0; i < nodeList.length; i++) {
            nodeList[i].style.display = "block";
        }
        document.getElementById("toChangeButton").style.display = "none"
    }

    function cancelChange() {
        for (var i = 0; i < nodeList.length; i++) {
            nodeList[i].style.display = "none";
        }
        document.getElementById("toChangeButton").style.display = "block"
        checkResult = false;
    }

    function checked() {
        return checkResult;
    }

    function changeDeletePhoto() {
        var radio = $(document.getElementById("deletePhoto"));
        if (radio.data('waschecked')) {
            radio.prop('checked', false);
            radio.data('waschecked', false)
        } else {
            radio.prop('checked', true);
            radio.data('waschecked', true)
        }
    }


    function changeUserArea() {
        var radio = $(document.getElementById("changeArea"));
        if (radio.data('waschecked')) {
            radio.prop('checked', false);
            document.getElementById("newArName").style.display = "none"
            radio.data('waschecked', false)
        } else {
            radio.prop('checked', true);
            document.getElementById("newArName").style.display = "block"
            radio.data('waschecked', true)
        }
    }

</script>
{% endblock %}