{% extends "base.html" %}

<meta charset="UTF-8">
<title>Search Result</title>
<base href="/">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        {% if suggestion.visible %}
        <div class="mdl-card__supporting-text">
            <p>AuthorName:{{ suggestion.commonUser.commonUserName }}</p>
            <p>Post time:{{ suggestion.postTime }}</p>
            <br>
            <a href="{% url 'USFP:userViewOneSuggestion' suggestion.suggestionID 1%}">Click here to view</a>
        </div>
        {% else %}
        <div class="mdl-card__supporting-text">
            {% if isAuthor %}
            <h3>It is being checked by the admin! Please wait patiently!</h3>
            {% ifnotequal user.commonUserID 5%}
            <a href="{% url 'USFP:userChangeSuggestion' suggestion.suggestionID %}">Click here to change your
                content</a>
            {% endifnotequal %}
            {% else %}
            <h3>The suggestion is not available!</h3>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}