{% extends "base.html" %}

<title>Successfully Submit</title>
<base href="/">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Result</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {% if state %}
            <div class="mdl-card__supporting-text">
                You have Successfully submit the suggestion!!
            </div>
            <div class="mdl-card__actions mdl-card--border">
                You can remember your suggestion ID to search it later:{{ suggestionID }}
            </div>
            {% else %}
            <div>
                <div class="mdl-card__supporting-text">
                    Fail to submit the suggestion!!
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    Please contact the admin to see why!
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}