{% extends "base.html" %}



{% block content %}
<main>
    <div class="demo-container mdl-grid">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
                这里是UIC同学们的小家呀！
                大家可以在这里便捷地反馈自己的意见！
                也可以看看最近学校的近况呢！
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                    onclick="toSubmitSuggestion()">
                    Get Started
                </a>
            </div>
        </div>
    </div>

    <div class="demo-container mdl-grid">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: max-content; margin: auto;">
            <div class="mdl-card__wordCloud">
                <h2 class="mdl-card__title-text">wordCloud</h2>
            </div>
            <div class="mdl-card__supporting-text">
                这里是根据大数据分析生成的词云图呀！
                快来看看UIC同学们都在关心什么问题呀！
                冲冲冲
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                    onclick="toSubmitSuggestion()">
                    Get Started
                </a>
            </div>
        </div>
    </div>


    <div  class="demo-container mdl-grid" style="display: flex; justify-content: center; align-items: center;">
        <table class="demo-card-wide mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: max-content;">
            <thead>
                <tr>
                    <th>序列</th>
                    <th class="mdl-data-table__cell--non-numeric">关键词</th>
                    <th>出现频率</th>
                </tr>
            </thead>
            <tbody>
                {% for i in allTags%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{% url 'USFP:viewTag' i.tagID 1 %}">{{ i.tagName }}</a>
                    </td>
                    <td>{{ i.tagShowNum }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="100%">
                        <a href="{% url 'USFP:viewAllTags' 1 %}">Click to see all tags</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Welcome</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    这里是根据大数据分析生成的柱状图呀！
                        <br>
                    （把鼠标放在柱子上有惊喜哦）
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    {% include "Bar.html" %}
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}