{% extends "base.html" %}

<title>404！Not found!</title>
<base href="/">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">404！Not found!</h2>
        </div>
        <div class="mdl-card__supporting-text">
            你似乎来到了一个没有任何知识的荒漠呢！
            <br>
            快检查一下你的网址信息吧！
        </div>
        <div style="display: grid; justify-items: center;">
            <a href="{% url 'welcome' %}">Back to the Welcome Page</a>
        </div>

    </div>
</div>

{% endblock %}
 
