{% extends "base.html" %}
<title>User Information</title>
<base href="/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Here is your personal information:</h2>
        </div>
        <div class="mdl-card__supporting-text">
            这里是你的个人资料小档案库呢！
            不可以在里面做羞羞的事情哦！
        </div>
        <div style="display: grid; justify-items: center;">

        </div>

    </div>
</div>
<div>
    <table border="1" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Key</th>
            <th>Value</th>
            <th>Operation</th>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">ID</td>
            <td>{{ user.commonUserID }}</td>
            <td>Change ID is not allowed!</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Name</td>
            <td>{{ user.commonUserName }}</td>
            <td><a href="{% url 'USFP:userChangeInfor' 'Name' %}">Click here to change!</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Image</td>
            <td><img src="/media/{{ user.commonUserImage }}"  style="width: 6em;"/></td>
            <td><a href="{% url 'USFP:userChangeInfor' 'Image' %}">Click here to change!</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Email</td>
            <td>{{ user.commonUserEmail }}</td>
            <td><a href="{% url 'USFP:userChangeInfor' 'EmailAdd' %}">Click here to change!</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Area</td>
            <td>{{ user.area.areaName }}</td>
            <td>You are not allowed to change your area!</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Verified</td>
            {% ifequal verified 1%}
            <td>You have verified!</td>
            {% else %}
            <td>You haven't verified! But you can verify through using UIC email.</td>
            {% endifequal %}
        </tr>
    </table>
    <div style="display: grid; justify-items: center;">
        <a href="{% url 'USFP:userViewSuggestions' 1 %}">View your suggestions!</a>
    </div>
    <div style="display: grid; justify-items: center;">
        <a href="{% url 'USFP:userChangeInfor' 'Password' %}">Click here to change your password!</a>
    </div>
</div>

{% endblock %}