{% extends "base.html" %}
<title>Admin Information</title>
<base href="/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<script src="/static/JavaScript/jquery-3.4.1.min.js"></script>


{% block content %}

<div class="demo-container mdl-grid">
    <div style="display: grid; justify-items: center;">
        <h1>Here is your personal information:</h1>
        <br>
        <a href="{% url 'USFP:userViewSuggestions' 1 %}">View your suggestions!</a>
        &emsp;
        <a href="{% url 'USFP:adminViewUnhandledSuggestion' 1 %}">View the unhandled suggestion</a>
        <table border="1" cellspacing="0">
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Admin ID</td>
                <td>{{ admin.commonUserID }}</td>
                <td>Change ID is not allowed!</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ admin.commonUserName }}</td>
                <td><a href="{% url 'USFP:adminChangeInfor' 'Name' %}">Click here to change!</a></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ admin.commonUserEmail }}</td>
                <td><a href="{% url 'USFP:adminChangeInfor' 'Email' %}">Click here to change!</a></td>
            </tr>
            <tr>
                <td>Image</td>
                <td><img src="/media/{{ admin.commonUserImage }}" style="width: 6em;" /></td>
                <td><a href="{% url 'USFP:adminChangeInfor' 'Image' %}">Click here to change!</a></td>
            </tr>
        </table>
        You can view the area you administrate here:
        <button onclick="showChange()" id="toChangeButton">Click here if you want to make changes</button>
        <form action={% url "USFP:adminInfor" %} method="post" onsubmit=" return checked()">
            {% csrf_token %}
            <table border="1" cellspacing="0">
                <tr>
                    <th>
                        Area ID
                    </th>
                    <th>
                        Area name
                    </th>
                    <th>
                        To view
                    </th>
                </tr>
                {% for i in areaSet %}
                <tr>
                    <td>
                        {{ i.areaID }}
                    </td>
                    <td>
                        {{ i.areaName }}
                    </td>
                    <td>
                        <a href="{% url 'USFP:adminViewArea' 1 i.areaID %}">To view</a>
                    </td>
                    <td class="ChooseUnit" style="display: none">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div style="display: grid; justify-items: center;">
                <a href="{% url 'USFP:adminChangeInfor' 'Password' %}">Here to change your password!</a>
            </div>
            <input type="submit" class="ChangeFunction" style="display: none" value="Click here to submit" />
            <button onclick="cancelChange()" class="ChangeFunction" style="display: none">Cancel</button>
        </form>
        <br>
        <a href="{% url 'USFP:adminViewOperations' 1 1 1%}">Operation History</a>
        {% ifequal admin.commonUserID 1 %}
        <button onclick="toRefreshDB()">Refresh The Database</button> &emsp;
        <button onclick="startScrapy()">Start The Scrapy</button> &emsp;
        <button onclick="refreshGraph()">Refresh The Graph</button> &emsp;
        {% endifequal %}
        <br>
    </div>
</div>

{% endblock %}



{% block script %}
<script>
    var i = 0;
    var checkResult = true;

    function showChange() {
        var unitList = document.getElementsByClassName("ChooseUnit");
        var nodeList = document.getElementsByClassName("ChangeFunction");
        for (let j = 0; j < unitList.length; j++) {
            unitList[j].style.display = "block";
        }
        for (let j = 0; j < nodeList.length; j++) {
            nodeList[j].style.display = "block";
        }
        document.getElementById("toChangeButton").style.display = "none"
        checkResult = false;
    }

    function cancelChange() {
        var unitList = document.getElementsByClassName("ChooseUnit");
        var nodeList = document.getElementsByClassName("ChangeFunction");
        for (let j = 0; j < nodeList.length; j++) {
            nodeList[j].style.display = "none";
        }
        for (let j = 0; i < unitList.length; j++) {
            unitList[j].style.display = "none";
        }
        document.getElementById("toChangeButton").style.display = "block"
        checkResult = false;
    }

    function checked() {
        return checkResult;
    }

    function deleteArea(choice) {
        checkResult = true;
        var radio = $(choice);
        if (radio.data('waschecked')) {
            radio.prop('checked', false);
            radio.data('waschecked', false)
        } else {
            radio.prop('checked', true);
            radio.data('waschecked', true)
        }
    }

    function updataAreaName(choice) {
        checkResult = true;
        var radio = $(choice);
        if (radio.data('waschecked')) {
            radio.prop('checked', false);
            document.getElementById("newAreaName" + choice.name.replace("updataAreaName", "")).style.display = "none"
            $("#" + "newAreaName" + choice.name.replace("updataAreaName", "")).attr("required", false);
            radio.data('waschecked', false)
        } else {
            radio.prop('checked', true);
            document.getElementById("newAreaName" + choice.name.replace("updataAreaName", "")).style.display = "block"
            $("#" + "newAreaName" + choice.name.replace("updataAreaName", "")).attr("required", true);
            radio.data('waschecked', true)
        }
    }

    var areaIDs = {{ areaIDs_js| safe}};
    var unitList = document.getElementsByClassName("ChooseUnit");
    for (let j = 0; j < unitList.length; j++) {
        unitList[j].innerHTML = "<input type='radio' name='deleteArea" + areaIDs[i].areaID + "'class='ChangeFunction'  onclick='deleteArea(this)' style='display: none' value='1' id='deleteArea" + areaIDs[i].areaID + "'/>"
            + "<label for='deleteArea" + areaIDs[i].areaID + "' style='display: none' class='ChangeFunction'>Click to  delete the area</label>"
            + "<input type='radio' name='updataAreaName" + areaIDs[i].areaID + "' class='ChangeFunction'  onclick='updataAreaName(this)' style='display: none' value='1' id='updataAreaName" + areaIDs[i].areaID + "'/>"
            + "<label for='updataAreaName" + areaIDs[i].areaID + "' style='display: none' class='ChangeFunction'>Click to  change the area's name</label>"
            + "<input maxlength='20' style='display: none' " + "class='ChangeFunction'" + "name='newAreaName" + areaIDs[i].areaID + "' id='newAreaName" + areaIDs[i].areaID + "'/>"
        i++;
    }
    function toRefreshDB() {
        $.ajax({
            type: "POST",
            url: '/refreshDB/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (response) {
                window.location.reload();
            }
        });
    }
    function startScrapy() {
        $.ajax({
            type: "POST",
            url: '{% url "startScrapy" %}',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (response) {
                console.log(response)
            }
        });
    }
    function refreshGraph() {
        $.ajax({
            type: "POST",
            url: '{% url "refreshGraph" %}',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (response) {
                console.log(response)
            }
        });
    }
</script>
{% endblock %}