{% extends "base.html" %}
<meta charset="UTF-8">
<title>View Your Operations</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">


{% block content %}
<div style="display: grid; justify-items: center;">
    <h3>Your Area Operation history:</h3>
    <table border="1" cellspacing="0">
        <tr>
            <th>
                Count
            </th>
            <th>
                Operation Type
            </th>
            <th>
                The Name Of The Area
            </th>
            <th>
                Datetime
            </th>
            <th>
                Content
            </th>
        </tr>
        {% for i in areaPrepageData %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {{ i.operationType }}
            </td>
            <td>
                {{ i.area.areaName }}
            </td>
            <td>
                {{ i.operationTakeDate }}
            </td>
            <td>
                {{ i.content }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div>
        {% if areaPrepageData.has_previous %}
        <a href="{% url 'USFP:adminViewOperations' areaPrepageData.previous_page_number userOpNum suggestionOpNum%}">Last
            Page</a>
        {% endif %}&emsp;
        {% for n in areaPageList %}
        <a href="{% url 'USFP:adminViewOperations' n userOpNum suggestionOpNum%}">{{ n }}</a> &emsp;
        {% endfor %}
        {% if areaPrepageData.has_next %}
        <a href="{% url 'USFP:adminViewOperations' areaPrepageData.next_page_number userOpNum suggestionOpNum%}">Next
            Page</a>
        {% endif %}&emsp;
        <br>
    </div>
    <h3>Your User Operation history:</h3>
    <table border="1" cellspacing="0">
        <tr>
            <th>
                Count
            </th>
            <th>
                Operation Type
            </th>
            <th>
                The ID of the User
            </th>
            <th>
                Datetime
            </th>
            <th>
                Content
            </th>
        </tr>
        {% for i in userPrepageData %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {{ i.operationType }}
            </td>
            <td>
                {{ i.commonUser.commonUserID }}
            </td>
            <td>
                {{ i.operationTakeDate }}
            </td>
            <td>
                {{ i.content }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div>
        {% if userPrepageData.has_previous %}
        <a href="{% url 'USFP:adminViewOperations' areaOpNum userPrepageData.previous_page_number suggestionOpNum%}">Last
            Page</a>
        {% endif %}&emsp;
        {% for n in userPageList %}
        <a href="{% url 'USFP:adminViewOperations' areaOpNum n suggestionOpNum%}">{{ n }}</a> &emsp;
        {% endfor %}
        {% if userPrepageData.has_next %}
        <a href="{% url 'USFP:adminViewOperations' areaOpNum userPrepageData.next_page_number suggestionOpNum%}">Next
            Page</a>
        {% endif %}&emsp;
        <br>
    </div>
    <h3>Your Suggestion Operation history:</h3>
    <table border="1" cellspacing="0">
        <tr>
            <th>
                Count
            </th>
            <th>
                Operation Type
            </th>
            <th>
                The ID of the Suggestion
            </th>
            <th>
                Datetime
            </th>
            <th>
                Content
            </th>
        </tr>
        {% for i in suggestionPrepageData %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {{ i.operationType }}
            </td>
            <td>
                {{ i.suggestion.suggestionID }}
            </td>
            <td>
                {{ i.operationTakeDate }}
            </td>
            <td>
                {{ i.content }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div>
        {% if suggestionPrepageData.has_previous %}
        <a href="{% url 'USFP:adminViewOperations' areaOpNum userOpNum suggestionPrepageData.previous_page_number %}">Last
            Page</a>
        {% endif %}&emsp;
        {% for n in suggestionPageList %}
        <a href="{% url 'USFP:adminViewOperations' areaOpNum  userOpNum n %}">{{ n }}</a> &emsp;
        {% endfor %}
        {% if suggestionPrepageData.has_next %}
        <a href="{% url 'USFP:adminViewOperations' areaOpNum userOpNum suggestionPrepageData.next_page_number %}">Next
            Page</a>
        {% endif %}&emsp;
        <br>
    </div>
    <a href="{% url 'USFP:adminInfor' %}">Back to your personal inforamtion</a>&emsp;
    <a href="{% url 'USFP:adminViewDeletions' 1 1 1%}">See what your delete recently</a>
</div>

{% endblock %}