<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="UIC suggestion platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- import uic icon -->
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <!-- import water.css -->
    <link rel="stylesheet" href="/static/CSS/water.css">
    <!-- import self design general.css -->
    <link rel="stylesheet" href="/static/CSS/general.css">
    <!-- import material design lite -->
    <link rel="stylesheet" href="/static/CSS/material.min.css">
    <link rel="stylesheet" href="/static/CSS/icon.css">
    <!-- import material design lite js -->
    <script src="/static/JavaScript/axios.min.js"></script>
    <script src="/static/JavaScript/material.min.js"></script>
    <script src="/static/JavaScript/jquery-3.4.1.min.js"></script>
</head>


<body style="min-height: 100%;">

    <div id="feedback_div" class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100"
        style="flex-direction: column; justify-content: space-between;">

        {% block navigation %}
        <header
            class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">
                <div onclick="window.location.href='/welcome/'" class="mdl-layout-title" style="margin-left: 0px;">
                    UIC意见反馈系统</div>
                <div class="mdl-layout-spacer"></div>
                <div class="form-row container" style="width:300px; height:auto; display:inline-block">
                    <form action="{% url 'USFP:searchSuggestion' %}" method="post"
                        style="width:300px; height:auto; display:flex;" class="mdl-textfield mdl-js-textfield"
                        action="#">
                        {% csrf_token %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label align-self-start"
                            style="height:auto; place-items: center;">
                            <input class="mdl-textfield__input" type="text" οninput=“value=value.replace(/[^\d]/g,’’)”
                                name="searchSuggestionID" id="searchSuggestionID">
                            <label class="mdl-textfield__label" for="searchSuggestionID"
                                class="mdl-textfield__label">Input the suggestion id</label>
                        </div>
                        <div class="align-self-right" style="display:flex;">
                            <input type="submit" value="search" class="material-icons">
                        </div>
                    </form>
                </div>
            </div>
            <div class="demo-ribbon"></div>
        </header>

        {% endblock %}


        {% block content %}
        {% endblock %}


        {% block footer %}
        <footer class="demo-footer mdl-mini-footer" style="margin-bottom;">
            <div style="display:flex; width: 100%;  justify-content: space-around;">
                {% ifnotequal user.commonUserID 5%}
                <div>
                    <p>userID:{{ user.commonUserID }}</p>
                </div>
                <div>
                    <p>userName:{{ user.commonUserName }}</p>
                </div>
                <div>
                    <p>userImage:<img src="/media/{{ user.commonUserImage }}" style="width: 2em;" /></p>
                </div>
                {% if isAdmin %}
                <p>
                    <a href="{% url 'USFP:adminInfor' %}">View profile</a>
                </p>
                {% else %}
                <p>
                    <a href="{% url 'USFP:userInfor' %}">View profile</a>
                </p>
                {% endif %}
                <p><a href="{% url 'welcome' 1 %}">Logout</a></p>
                {% else %}
                <div>
                    <a href="{% url 'USFP:login' 0 %}">Login</a>
                </div>
                <div>
                    <a href="/USFP/register/">Register</a>
                </div>
                {% endifnotequal %}
                <div style="right:0px; display:flex; place-items: right;">
                    <button onclick="toSubmitSuggestion()"
                        class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised">Suggestion
                        Submit</button>
                </div>
            </div>
        </footer>


        {% endblock %}

</body>


{% block script %}
{% endblock %}

<script>
    function toSubmitSuggestion() {
        window.location.href = "{% url 'USFP:submitSuggestion' %}"
    }
</script>

</html>